* {
  font-family: Ubuntu;
  transition: 0.5s;
}
body {
  background-image: url(img/background.png);
  background-size:auto;
  background-position:unset ;
  color:#fff;
  transition: 0.2s;
}
header {
  background-color: #ffffff3a;
  height:5pc;
  width: 90%;
  border-radius: 2pc;
}
.btn {
  height: 3.2pc;
  width: 3.2pc;
  font-size: 1pc;
  border-radius: 0.5pc;
  border-style:hidden;
  transition: 0.2s;
  background-color: #00000000;
}
.btn:hover {
  transform:translateY(-6px);
}
.hidden {
  color: #ffffff00;
}
.round {
  background-color:white;
  height:3pc;
  width: 2px;
  rotate: 35deg;
  transition: 0.2s;
  border-style: none;
}
img {
  border-radius: 3pc;
}
.about-btn img {
  height: 15pc;
  width: 15pc;
}
header img {
  height: 2.5pc;
}
.Skills {
  height: 8pc;
  width: 30%;
  min-width: 12pc;
  background-color: #000000a9;
  color: white;
  border-radius: 1pc;
  border-style: none ;
  transition: 0.5s;
}
.Skills:hover {
  transform: translateY(-1pc);
}
.about-btn {
  background-color: #000000a9;
  color: white;
  font-size: 1.5pc;
  border-radius: 1pc;
  border-style: none;
  padding: 1.5pc;
  min-width: 20pc;
}
.about-btn:first-child {
  width: 48%;
}
.about-btn:last-child {
  width: 48%;
}
.about-btn:hover {
  transform: translateY(-1pc);
}
h3 {
  font-size: 1.5pc;
}
.fieldset-btn {
  background-color: #00000000;
  color: white;
  border-style: none;
}
/* Mobile Style */
@media (max-width: 768px) {
  .about-btn {
    zoom: 90%;
    width: 90%;
  }
}