* {
  font-family: Ubuntu;
  transition: 0.5s;
}

body {
  background-image: url(./img/background.png);
  background-size:auto;
  background-position:unset ;
  color:#fff;
  transition: 0.2s;
}

header {
  background-color: #ffffff3a;
  height:5pc;
  width: 90%;
  border-radius: 2pc;
}

header a {
  margin-left:  .5pc;
  margin-right: .5pc;
}

header a button {
  height: 2pc;
  width: 2pc;

}

.btn {
  height: 3.2pc;
  width: 3.2pc;
  font-size: 1pc;
  border-radius: 0.5pc;
  border-style:hidden;
  background-color: #00000000;
}

.btn:hover {
  transform:translateY(-6px);
}

.hidden {
  color: #ffffff00;
}

.round {
  background-color:white;
  height:3pc;
  width: 2px;
  rotate: 35deg;
  transition: 0.2s;
  border-style: none;
}

img {
  border-radius: 3pc;
  height: 100%;
  width: 100%;
}

.services button {
  margin: .5pc;
  background-color: #ec9370;
}

.services button:hover {
  background-color: skyblue;
}

.services button img {
  height: 2pc;
  width: 5pc;
  zoom: 150%;
}

.about-btn, .services, .hire-me  {
  background-color: #000000a9;
  color: white;
  font-size: 1.5pc;
  border-radius: 1pc;
  border-style: none;
  padding: 1.5pc;
  width: 40%;
  margin: .5pc;
  display: inline-block;
}

.about-btn img {
  height: 15pc;
  width: 15pc;
}

.about-btn:first-child {
  width: 48%;
}

.about-btn:last-child {
  width: 48%;
}

.about-btn:hover, .services:hover {
  transform: translateY(-1pc);
}

.hire-me select {
  padding: .5pc;
  margin: .5pc;
}

.hire-me #message,
.hire-me #mobile-num,
.hire-me #country-code,
.hire-me #message,
.hire-me #name,
.hire-me select {
  font-size: 1.5pc;
  width: 20pc;
  padding: .5pc;
  margin: .5pc;
}

.hire-me #country-code {
  width: 5pc;
}

.hire-me #mobile-num {
  width: 12pc;
}

.hire-me #message {
  height: 6pc;
}

label {
  font-size: 2pc;
}

label input {
  height: 1.5pc;
  width: 1.5pc;
}

header img {
  height: 2.5pc;
}

.Skills {
  height: 8.5pc;
  width: 30%;
  min-width: 12pc;
  background-color: #000000a9;
  color: white;
  border-radius: 1pc;
  border-style: none ;
  margin: .5pc;
}

.Skills:hover {
  transform: translateY(-1pc);
}

h3 {
  font-size: 1.5pc;
}

.fieldset-btn {
  background-color: #00000000;
  color: white;
  border-style: none;
}

/* Mobile Style */
@media (max-width: 768px) {
  .about-btn, .services, .hire-me {
    zoom: 90%;
    width: 90%;
  }

  .about-btn:first-child {
    width: 90%;
  }

  .about-btn:last-child {
    width: 90%;
  }

  .about-btn img {
    height: 100%;
    width: 90%;
  }
}